<div class="bg" style="background-color: #f8f8f8;">
    <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="working...">
        <div class="parent">
            <div class="child">
                <div nz-row class="imgDiv">
                    <div nz-col nzSpan="24">
                        <h1 style="margin-left: 80px; color: #125492;">Sign Up</h1>
                    </div>
                </div>
                <form nz-form [formGroup]="signupForm">
                    <nz-form-item>
                        <nz-form-control [nzHasFeedback]="true" [nzErrorTip]="'The input is not a valid email!'" >
                            <nz-input-group nzPrefixIcon="mail">
                                <input nz-input placeholder="E-mail" id="e-mail" formControlName="email"/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control [nzHasFeedback]="true" [nzErrorTip]="errorPass">
                            <nz-input-group nzPrefixIcon="lock">    
                                <input nz-input placeholder="Password" type="password" id="password" formControlName="password" />
                            </nz-input-group>
                                <ng-template #errorPass left-control>
                                <ng-container ngIf="control.hasError('required')">
                                    Password Is required
                                </ng-container>
                                <ng-container ngIf="control.hasError('pattern')">
                                    password Should Contains 8 character,1lowercase,1Uppercase,1number and special
                                    character
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    

                    <nz-form-item>
                        <nz-form-control [nzHasFeedback]="true" [nzErrorTip]="errorTpl">
                            <nz-input-group nzPrefixIcon="lock">    
                                <input nz-input placeholder="Confirm Password" type="password" id="checkpassword" formControlName="checkpassword"/>
                            </nz-input-group>
                            <ng-template #errorTpl left-control>
                                <ng-container ngIf="control.hasError('required')">
                                    Please confirm your password
                                </ng-container>
                                <ng-container ngIf="control.hasError('confirm')">
                                    Two passwords that you enter is inconsistant!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-control [nzHasFeedback]="true" [nzErrorTip]="userErrorTpl">
                            <nz-input-group nzPrefixIcon="user-add">    
                                <input nz-input placeholder="Name" id="username" formControlName="name"/>
                            </nz-input-group>    
                            <ng-template #userErrorTpl left-control>
                                <ng-container ngIf="control.hasError('required')">
                                    Please input your username
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="register()"[disabled]="signupForm.invalid">Register</button>
                    Ou <a routerLink="">Se connecter</a>


                </form>
            </div>
        </div>


    </nz-spin>
</div>