<div class="background-color" nz-row *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="app-titel">
        <a>
          <h1>Bridge Cars</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item nzMatchRouter routerLink="/home">
          <span nz-icon nzType="home"></span>
          <span>Accueil</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/contact">
          <span nz-icon nzType="message"></span>
          <span>Contact</span>
        </li>
        <li nz-submenu nzTitle="Account" nzIcon="user">
          <ul>
            <li nz-menu-item>
              <span nz-icon nzMatchRouter nzType="login"></span>

              <a routerLink="/login">Se connecter</a>
            </li>
            <li nz-menu-item>
              <span nz-icon nzMatchRouter nzType="user-add"></span>

              <a routerLink="/register" > Cree un compte </a>
            </li>
          </ul>
        </li>
        <li>
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"></span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <div class="inner-content"><router-outlet></router-outlet></div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>
<div *ngIf="isAdminLoggedIn">
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="app-titel">
        <a>
          <h1>Bridge Cars</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item nzMatchRouter routerLink="admin/dashboard">
          <span nz-icon nzType="home"></span>
          <span>Accueil</span>
        </li>

        <li nz-menu-item nzMatchRouter routerLink="admin/search">
          <span nz-icon nzType="search"></span>
          <span>Recherche avancée</span>
        </li>

        <li nz-menu-item nzMatchRouter routerLink="admin/car">
          <span nz-icon nzType="car"></span>
          <span>ajouter une voiture</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="admin/bookings">
          <span nz-icon nzType="schedule"></span>
          <span>rendez-vous</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="admin/user-management">
          <span nz-icon nzType="unordered-list"></span>
          <span>Liste des utilisateurs</span>
        </li>

        <li nz-submenu nzTitle="User" nzIcon="user">
          <ul>
            <li nz-menu-item>
              <span nz-icon nzType="edit"></span>

              <a href="/admin/admin-update/">profil</a>
            </li>
            <li nz-menu-item>
              <span nz-icon nzMatchRouter nzType="logout"></span>

              <a (click)="logout()"> Deconexion</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"></span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <div class="inner-content"><router-outlet></router-outlet></div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>
<div *ngIf="isCustomerLoggedIn">
  <nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="app-titel">
        <a>
          <h1>Bridge Cars</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item nzMatchRouter routerLink="/customer/dashboard">
          <span nz-icon nzType="home"></span>
          <span>Acceuil</span>
        </li>

        <li nz-menu-item nzMatchRouter routerLink="/customer/search">
          <span nz-icon nzType="search"></span>
          <span>Recherche avancée</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/customer/savedcar">
          <span nz-icon nzType="heart"></span>
          <span>Favoris</span>
        </li>
        <li nz-menu-item nzMatchRouter routerLink="/customer/my_bookings">
          <span nz-icon nzType="schedule"></span>
          <span>rendez-vous</span>
        </li>
        <li nz-submenu nzTitle="User" nzIcon="user">
          <ul>
            <li nz-menu-item>
              <span nz-icon nzType="edit"></span>

              <a routerLink="/customer/user-update/">profil</a>
            </li>
            <li nz-menu-item>
              <span nz-icon nzMatchRouter nzType="logout"></span>

              <a (click)="logout()"> Deconexion</a>
            </li>
          </ul>
        </li>
        <li>
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"></span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <div class="inner-content"><router-outlet></router-outlet></div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>